@desktop: ~"only screen and (min-width: 1280px)";
@tabletL: ~"only screen and (min-width: 1024px) and (max-width: 1279.9px)";
@tabletS: ~"only screen and (min-width: 768px) and (max-width: 1023.9px)";
@mobileL: ~"only screen and (min-width: 550px) and (max-width: 767.9px)";
@mobileS: ~"only screen and  (max-width: 549.9px)";

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype'),
         url('assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
         url('assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
         url('assets/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Cutive Mono';
    src: url('assets/fonts/CutiveMono/CutiveMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Merriweather';
    src: url('assets/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype'),
         url('assets/fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.header {
    position: sticky;
    top: 0;
    z-index: 100;

    transition: box-shadow 0.2s ease-in;
    
    &.boxshadow{
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    }

    background-color: transparent;
    background-image: linear-gradient(to right, #ccfed9, #b1f8e2, #9cf0ed, #90e6f6, #90dafb, #91d3fc, #95ccfc, #9cc4fa, #99c1fb, #97bffd, #95bcfe, #94b9ff);
 
    @media only screen and (min-width: 991.9px) and (max-width: 1023px) {
       height: 77px !important;
    }
   
    @media @tabletS {
       height: 65px;
    }

    @media @mobileL {
       height: 58px;
    }

    @media @mobileS {
     height: 56px; 
    }

    .navbar {
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;

        
        
        @media only screen and (max-width: 992px) {
            position: absolute;
            width: 100%;
            z-index: 102;
            padding: auto;
            padding: 8px 0 8px 0;
            background-image: linear-gradient(to right, #ccfed9, #b1f8e2, #9cf0ed, #90e6f6, #90dafb, #91d3fc, #95ccfc, #9cc4fa, #99c1fb, #97bffd, #95bcfe, #94b9ff);
 
        }

        .navbar-brand {
            text-transform: uppercase;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media @desktop {
                width: 20%;
                height: 80px;
                
            }
            @media  @tabletL {

                width: 25%;
                height: 60px;
                padding: 0;
            }
            @media @tabletS {
                // width: 25%;
                width: 30%;
                height: 40px;
                padding: 0;
            }
            @media @mobileL {
                // width: 25%;
                width: 40%;
                height: 40px;
                padding: 0;
            }
            @media @mobileS {
                width: 40%;
                height: 40px;
                padding: 0;
            }
        }

        .navbar-toggler{
            border: none;

            &:focus {
                outline: none !important;
                box-shadow: none;
            }
    
            &:focus-visible {
                outline: none !important;
            }

            @media @mobileL {
                font-size: 15px;
            }
           
            @media @mobileS {
                font-size: 15px;
            }
        }

        .navbar-collapse {
            flex-grow: 0;
            .navbar-nav{
                .nav-link {
                    // font-family: 'Poppins', sans-serif !important;
                    text-transform: capitalize;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;

                    @media @desktop {
                         font-size: 17px;
                    }
                }
                .active{
                    border-bottom: 2px solid black;
              
                }
            }

            // &.show{
            //     @media only screen and (max-width: 992px) {
            //        height: 100dvh;
            //     } 
            // }
           
        }
    }
}


.home-container {
    height: auto;
    z-index: 99;
    position: relative;
    .cli-path-div{
      clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        
        background-color: #94bafe;
        position: absolute;
        z-index: 0;

        @media @desktop {
            right: 0;
            top: 0;
            bottom: 0;
            width: 60%;
        }

        @media @tabletL {
            top: 0;
           right: 0;
            bottom: 0;
            width: 67%;
        }
        @media @tabletS {
            width: 70%;
            right: 0;
            top: 0;
            bottom: 0;
        }

       @media @mobileL {
        width: 70%;
        right: 0;
        top: 0;
        bottom: 0;
       }

        @media @mobileS {
            width: 70%;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    .superheader-wrapper {
        
        background-image: linear-gradient(to right, #ccfed9, #b1f8e2, #9cf0ed, #90e6f6, #90dafb, #91d3fc, #95ccfc, #9cc4fa, #99c1fb, #97bffd, #95bcfe, #94b9ff);
    }

    .superheader-header-content {
        text-align: center;
        width: 100%;
        height: auto;

        @media @desktop {
            padding: 64px 204px 64px 204px;
        }

        @media @tabletL {
           padding: 32px;
        }

        @media @tabletS {
           padding: 32px;
        }

        @media @mobileL {
            padding: 24px;
        }

        @media @mobileS {
           padding: 16px;
        }

        @media only screen and (max-width: 272px) {
            top: 3%;
        }

        h1 {
            color: #004aad;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;

            @media @desktop {
                font-size: 42px;
                line-height: 60px;
            }

            @media @tabletL {
                font-size: 44px;
                line-height: 48px;
            }

            @media @tabletS {
                font-size: 32px;
                line-height: 36px;
            }

            @media @mobileL {
                font-size: 28px;
                line-height: 36px;
            }

            @media @mobileS {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 0;
            }

        }

        p {
            margin-bottom: 0;
            font-family: 'Poppins', monospace;
            color: #49524c;
            font-style: italic;

            @media @desktop {
                margin-top: 32px;
                font-size: 24px;
                line-height: 32px;
            }

            @media @tabletL {
                margin-top: 32px;
                font-size: 20px;
                line-height: 32px;
            }

            @media @tabletS {
                margin-top: 28px;
                font-size: 18px;
                line-height: 28px;
            }

            @media @mobileL {
                margin-top: 24px;
                font-size: 14px;
                line-height: 20px;
            }

            @media @mobileS {
                margin-top: 10px;
                font-size: 10px;
            }
        }

        .superheader-buttons {
            button {
                
                background-color: #004aad !important;
                border: none;
                margin-bottom: 10px;
                text-align: center;
                width: auto;
                padding: 12px 16px;
                border-radius: 8px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                color: white !important;
                            
                span{
                    @media @desktop {
                        font-size: 17px;
                    }

                    @media @mobileS {
                        font-size: 12px;
                    }
                }

                @media @desktop {
                    padding: 18px 20px;
                    font-size: 16px;
                }
                @media @mobileS {
                    padding: 18px 20px;
                    font-size: 12px;
                }

                @keyframes arrow-slide {
                    0%,
                    100% {
                        transform: translate(0, 0);
                    }

                    50% {
                        transform: translate(10px, 0);
                    }
                }

                &:hover {
                    .chev-icon {
                        animation: arrow-slide 1s ease-in-out infinite;
                    }
                }


                &:not(:first-child) {
                    background-color: transparent !important;
                    border: 2px solid #004aad;
 
                   
                    @media @desktop {
                        padding: 16px 18px;
                    }

                    @media @mobileS {
                        padding: 8px 12px;
                    }

                    &:hover {
                        transition: background-color 0.7s ease;
                        background-color: #004aad !important;
                

                        a {
                            color: white !important;
                        }
                    }

                    a {
                        color: #004aad !important;
                    }
                }

                a {
                    text-decoration: none;
                    color: white !important;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;

                    .chev-icon {
                        margin-top: 1.5%;
                    }


                }

                @media @desktop {
                    padding: 18px 20px;
                }

                @media @tabletL {
                    padding: 12px 16px;
                }

                @media @mobileS {
                    padding: 8px 14px;
                    width: 70%;
                }

                @media only screen and (max-width: 308px) {
                    width: 80%;
                }

                @media only screen and (max-width: 272px) {
                    width: 100%;
                }


            }

            @media @desktop {
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                column-gap: 16px;
            }

            @media @tabletL {
                margin-top: 32px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                column-gap: 16px;
            }

            @media @tabletS {
                margin-top: 32px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                column-gap: 16px;
            }

            @media @mobileL {
                margin-top: 32px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                column-gap: 16px;
            }

            @media @mobileS {
                margin-top: 20px;
                display: block;
            }
        }
    }

}


// Animations
.reveal {
    transform: translateY(100px);
    transition: 2s all ease;
  }
  .reveal.fade-left {
    transform: translateY(0);
  }
  .reveal.fade-right {
    transform: translateY(0);
  }
  .reveal.active {
    transform: translateY(0);
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
